*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Segoe UI,sans-serif;
    background:#f4f7fb;
}

.sidebar{
    width:260px;
    height:100vh;
    background:#17365D;
    position:fixed;
    left:0;
    top:0;
}

.logo{
    color:white;
    font-size:28px;
    font-weight:bold;
    text-align:center;
    padding:30px;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    padding:20px 30px;
}

.sidebar ul li a{
    color:white;
    text-decoration:none;
}

.main-content{
    margin-left:260px;
    padding:40px;
}
.analytics{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.card{
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.card h2{
    color:#17365D;
    margin-bottom:10px;
}
.table-section{
    margin-top:40px;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.table-section h2{
    margin-bottom:20px;
    color:#17365D;
}

table{
    width:100%;
    border-collapse:collapse;
}

table th{
    background:#17365D;
    color:white;
    padding:15px;
    text-align:left;
}

table td{
    padding:15px;
    border-bottom:1px solid #eee;
}
.page-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.add-btn{
    background:#17365D;
    color:white;
    padding:12px 20px;
    border-radius:8px;
    text-decoration:none;
}

.edit-btn{
    background:#295fa5;
    color:white;
    padding:8px 12px;
    border-radius:5px;
    text-decoration:none;
    margin-right:8px;
}

.delete-btn{
    background:#dc3545;
    color:white;
    padding:8px 12px;
    border-radius:5px;
    text-decoration:none;
}
.form-container{
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
    max-width:700px;
}

.form-group{
    margin-bottom:20px;
}

.form-group label{
    display:block;
    margin-bottom:8px;
    font-weight:600;
}

.form-group input{
    width:100%;
    padding:12px;
    border:1px solid #ddd;
    border-radius:8px;
}

.save-btn{
    background:#17365D;
    color:white;
    border:none;
    padding:12px 24px;
    border-radius:8px;
    cursor:pointer;
}
.form-group select{
    width:100%;
    padding:12px;
    border:1px solid #ddd;
    border-radius:8px;
}